* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 14px;
    background-color: black;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* Sezione 1 */

.section1{
    display: flex;
    justify-content: flex-end;
}

.section1 div{
    background-color: grey;
    margin: 5px 5px 0 5px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    vertical-align: center;
    border-radius: 5px;
}

/* Sezione 2 */

.section2{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 12px;
    justify-content: center;
    margin: 30px 40px;
    flex-grow: 1;
}

.section2 div{
    position: relative;
}

.section2 i{
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

/* Footer */

footer{
    position: relative;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 70px;
    background-color: rgb(26, 26, 26);
}

/* .navbar i{
    position: absolute;
    left: 50%;
    bottom: 100%;
} */

/* .mute{
    position: relative;
} */

.navbar ul{
    display: contents;
}

.navbar ul li{
    list-style-type: none;
}

.navbar ul li:first-child{
    font-size: 22px;
    padding-bottom: 5px;
} 

.mute{
    display: flex;
    margin-left: 25px;
    gap: 10px;
}

.fa-chevron-up {
    padding-top: 15px;
    padding-right: 5px;
}

.icone{
    display: flex;
    row-gap: 20px;
    column-gap: 20px;
}

#green{
    color: rgb(92, 255, 47);
}

.end{
    background-color:gray;
    width: 150px;
    height: 100%;
    position: sticky;
    bottom: 0;
}

.button{
    height: 70px;
    padding: 0 35px; 
    color: red;
    display: flex;
    align-items: center;  
}