* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 14px;
}

img {
    max-width: 100%;
    display: block;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: currentColor;
}


.container{
    background-color: black;
}

/* Sezione 1 */

.section1{
    display: flex;
    justify-content: flex-end;
}

.section1 div{
    background-color: grey;
    margin: 5px 5px 0 5px;
    padding: 0 10px;
    color: white;
    height: 30px;
    line-height: 30px;
    vertical-align: center;
    border-radius: 5px;
}

/* Sezione 2 */

/* .section2 img{
    margin: 30px 40px;
} */

.section2{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 12px;
    justify-content: center;
    color: white;
    margin-top: 40px;
}

.section2 div{
    position: relative;
}

.section2 i{
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9999;
}